@{
  Layout = "_Layout";
}

<div class="container-fluid">
  <h1>Welcome Pierre! Click the Add a new Vendor button to get started.</h1>
  <h3><a class="vendor" href='/vendor'>Current Vendors</a></h3>
  <h3><a class="vendor" href='/vendor/new'>Add a new Vendor</a></h3>
</div>
