@{
  Layout = "_Layout";
}

<html>
<body>
<div class="container-fluid">
  <h1>Welcome Pierre! Click the Add a new Vendor button to get started.</h1>
  <h3><a class="vendor" href='/vendors'>Current Vendors</a></h3>
  <h3><a class="vendor" href='/vendors/new'>Add a new Vendor</a></h3>
</div>
</body>
</html>
